body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.spin-btn {
  position: absolute;
  z-index: 10;
  padding: 5px 10px;
}
